/* popup */
.popup__title {
    font-size: 20px;
}

.popup__close {
    top: -27px;

    width: 18px;
    height: 18px;

    font-size: 41px;
}

.radio-group {
    gap: 19px;
}


.radio-custom {
    --icon-size: 1em;
}

/* header */
.header {
    height: 449px;
    padding: 28px 248px;

    background-image: url("../images/banner-bg.jpg");
    background-position: top;
}

.logo {
    height: 41px;
}


.header__nav {
    display: block;
    font-size: 13px;
}

.nav__list {
    display: flex;
    gap: 34px;

    text-transform: uppercase;

    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
}

.nav__link:hover {
    text-decoration: underline;
}

.header__slogan {
    margin: 100px auto 0 auto;
    width: 694px;

    font-size: 45px;
    line-height: 1.67;
}

.header__burger-menu {
    display: none;
}

/* trends */
.trends__title {
    margin-top: 59px;
    margin-bottom: 29px;

    font-size: 20px;
}

.trends__title::after {
    margin: 6px auto 0 auto;
}

.trends__container {
    flex-wrap: nowrap;
    gap: 4px;
}

.trends__item {
    padding: 16px 19px;
    height: 319px;
}

.trend__content {
    padding: 26px 32px;
}

.trend__heading {
    font-size: 20px;
    line-height: 24px;
}

/* posts */
.posts {
    margin-top: 64px;
    width: 70.48%;
    min-width: 1170px;

    padding: 0;
}

.posts__container {
    width: 66.84%;
    min-width: 783px;
    gap: 60px;
}

.posts__item {
    flex-direction: row;
}

.post__image-wrapper {
    width: 381px;
}

.post__image {
    width: 381px;
}

.post__content {
    margin-left: 30px;
    margin-top: 0;
}

.post__heading {
    margin-top: 4px;
    margin-bottom: 17px;

    font-size: 20px;
    line-height: 24px;
}

.post__text {
    margin-top: 33px;
}

.new-posts__title {
    margin-top: 0;
}

.search {
    margin-top: 60px;
}

.tags__title {
    position: relative;
    left: 2px;
}

.themes__title {
    position: relative;
    left: 2px;

    margin-top: 61px;
}

/* goods */
.goods__title {
    margin-top: 65px;

    font-size: 20px;
}

.goods__title::after {
    margin: 19px auto 0 auto;
}

.goods__container {
    margin: 0 auto;
    min-width: 1170px;
    width: 70%;
    padding: 0;
}

.goods__item {
    width: 348px;
}

.goods__item:nth-child(n+3) {
    margin-top: 0px;
}

.good__content {
    padding: 24px 19px;
}

.good__heading {
    font-size: 20px;
}

/* footer */
.footer {
    margin-top: 0;
    padding: 0;
}

.social-media {
    margin: 65px 244px 0;
}

.copyright-info {
    margin-top: 69px;
}