/* popup */
.popup__toggle:checked ~ .popup {
    height: 589px;
}

.popup__title {
    margin-top: 18px;
    margin-bottom: 23px;

    font-size: 20px;
}

.popup__close {
    top: -27px;

    width: 18px;
    height: 18px;

    font-size: 41px;
}

/* header */
.header {
    height: 449px;
    padding: 28px 248px;
    box-sizing: border-box;

    display: block;

    background-image: url("../images/banner-bg.jpg");
}

.logo {
    height: 41px;
    position: static;
}


.header__nav {
    display: block;
    font-size: 13px;
}

.nav__list {
    display: flex;
    gap: 34px;

    text-transform: uppercase;

    list-style-type: none;
}

.nav__link {
    text-decoration: none;
    color: #fff;
}

.nav__link:hover {
    text-decoration: underline;
}

.header__slogan {
    margin: 100px auto 0 auto;
    width: 694px;

    font-size: 45px;
    line-height: 1.67;
}

.header__burger-menu {
    display: none;
}

/* trends */
.trends__title {
    margin-top: 59px;
    margin-bottom: 29px;

    font-size: 20px;
}

.trends__title::after {
    margin: 6px auto 0 auto;
}

.trends__container {
    flex-direction: row;
    gap: 4px;
}

.trends__item {
    padding: 16px 19px;
    height: 319px;
}

.trend__content {
    padding: 26px 32px;
}

.trend__heading {
    font-size: 20px;
    line-height: 24px;
}

/* posts */
.posts {
    flex-direction: row;
    margin-top: 64px;
    width: 70.48%;
    min-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.posts__container {
    width: 66.84%;
    min-width: 782px;
    gap: 60px;
}

.posts__item {
    flex-direction: row;
}

.post__image-wrapper {
    width: 381px;
}

.post__image {
    width: 381px;
}

.post__content {
    margin-left: 30px;
    margin-top: 0;
}

.post__heading {
    margin-top: 4px;
    margin-bottom: 17px;

    font-size: 20px;
    line-height: 24px;
}

.post__text {
    margin-top: 33px;

    font-size: 15px;
    line-height: 22px;
}

.sidebar {
    width: 271px;
}

.new-posts__title {
    margin-top: 0;

    font-size: 14px;
}

.new-posts__container {
    gap: 22px;
}

.search {
    margin-top: 60px;
}

.newsletter__title {
    margin-top: 62px;

    font-size: 14px;
}

.tags__title {
    position: relative;
    left: 2px;

    margin-top: 61px;

    font-size: 14px;
}

.themes__title {
    position: relative;
    left: 2px;

    margin-top: 61px;

    font-size: 14px;
}

/* goods */
.goods__title {
    margin-top: 65px;

    font-size: 20px;
}

.goods__title::after {
    margin: 19px auto 0 auto;
}

.goods__container {
    flex-direction: row;
    /* width: 1170px; */
    margin: 0 auto;
    min-width: 1170px;
    width: 70%;
    align-items: stretch;
    padding: 0;
}

.goods__item {
    width: 348px;
}

.goods__item:nth-child(n+2) {
    margin-top: 0;
}

.good__content {
    padding: 24px 19px;
}

.good__heading {
    margin-bottom: 0;

    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
}

.good__description {
    position: relative;
    top: 1px;

    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: normal;
}

.good__link {
    text-decoration: none;

    color: #b59f5b;
}

.good__link:hover {
    text-decoration: underline;
}

.good__purchase {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
}

.good__price {
    display: flex;
    flex-direction: column;
    justify-content: end;

    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
}

.actual-price {
    position: relative;
    bottom: 5px;

    font-size: 20px;
}

.good__button {
    position: relative;
    right: 3px;
    bottom: 3px;

    --flang-padding: 31px;
    padding-left: var(--flang-padding);
    padding-right: var(--flang-padding);
    height: 49px;

    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: #b59f5b;

    cursor: pointer;
}

.good__button:hover {
    background-color: #323232;
}

/* footer */
.footer {
    margin-top: 0;
    padding: 0;
}

.social-media {
    margin: 65px 244px 0;
}

.copyright-info {
    margin-top: 69px;
}