html, body {
    margin: 0;
    padding: 0;

    font-family: "Open Sans", sans-serif;
}

/* Шрифты */
@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

/* popup */
.popup {
    display: none;
}

.popup__toggle:checked ~ .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;

    display: block;
    width: 92.5%;
    max-width: 390px;
    min-width: 287px;
    height: 546px;
    box-sizing: border-box;
    padding: 30px;

    background-color: #ffffff;
}

.popup__toggle:checked ~ .popup__overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;

    display: block;

    background-color: rgba(0, 0, 0, 0.6);

    overflow: none;
}

.popup__close {
    position: absolute;
    right: -2px;
    top: -39px;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 34px;
    height: 34px;

    font-size: 56px;
    line-height: 1;
    
    color: #ffffff;

    cursor: pointer;
}

.popup__title {
    position: relative;
    left: 2px;

    margin-top: -6px;
    margin-bottom: 23px;

    font-size: 16px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
    text-align: center;
}

.popup__title::after {
    content: "";

    display: block;
    margin: 9px auto 0 auto;
    width: 66px;
    height: 3px;

    opacity: 0.400;
    background-color: #b59f5b;
}

.field-label {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 13px;
    line-height: 1;
}

.form-select {
    width: 100%;
    height: 48px;
    padding: 16px 18px;
    box-sizing: border-box;

    font-size: 13px;
    font-family: inherit;
    color: rgba(0, 0, 0, 0.541);

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: #f4f7f6;
}

.form-select:focus, .form-select:active {
    border: 1px solid #b59f5b;
}

.form-select-wrapper {
    position: relative;

    margin-top: 5px;
    margin-bottom: 27px;
}

.form-select-wrapper::after {
    content: "";

    position: absolute;
    top: 50%;
    right: 14px;
    transform: translate(0, -50%);

    display: inline-block;
    height: 16px;
    width: 8px;

    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 8px 16px;

    pointer-events: none;
}

.radio-group {
    position: relative;
    left: 2px;

    display: flex;
    gap: 17px;
    margin-top: 3px;
    margin-bottom: 26px;
}

.radio-option input {
    display: none;
}

.radio-custom {
    content: "";

    display: inline-block;
    width: 1em;
    height: 1em;

    background-image: url(../svg/form-empty-circle.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1em 1em;
    vertical-align: middle;
}

.radio-option input:checked ~ .radio-custom {
    background-image: url(../svg/form-circle.svg);
}

.radio-text {
    font-size: 13px;
}

.form-textarea {
    display: block;
    width: 100%;
    height: 131px;
    padding: 15px 20px;
    margin-top: 3px;
    box-sizing: border-box;

    font-size: 13px;
    font-family: inherit;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    resize: none;
    outline: none;
    background-color: #f4f7f6;
}

.form-textarea:focus, .form-textarea:active {
    border: 1px solid #b59f5b;
}

.popup__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    margin-top: 26px;

    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: #b59f5b;

    cursor: pointer;
}

.popup__submit:hover {
    background-color: #323232;
}


.header {
    position: relative;
    z-index: 0;

    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url("../images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header::before {
    content: "";

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0.6);
}


.header__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}


.logo {
    height: 61px;
    width: auto;
    position: relative;
    top: 13px;
}

.header__burger-menu {
    position: absolute;
    right: 15px;
    top: 28px;
    display: block;
    width: 26px;
    height: 26px;
    background-image: url(../svg/burger.svg);
    background-repeat: no-repeat;
    background-size: 26px 26px;
    background-position: center center;
    cursor: pointer;
}

.header__nav {
    display: none;
}

.header__slogan {
    max-width: 690px;
    min-width: 280px;
    width: 41.57%;
    margin: 43px auto 0 auto;

    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    font-size: 26px;
    text-align: center;
    line-height: 36px;
}

/* trends */
.trends__title {
    margin-top: 35px;
    margin-bottom: 25px;

    font-size: 16px;
    line-height: 29px;
    color: #0f0d0e;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.trends__title::after {
    content: "";

    display: block;
    margin: 3px auto 0 auto;
    width: 66px;
    height: 3px;

    opacity: 0.400;
    background-color: #b59f5b;
}

.trends__container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2px;
}

.trends__item {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: end;
    min-height: 232px;
    width: 100%;
    padding: 17px 16px;
    box-sizing: border-box;

    overflow: hidden;
}

.trend__link {
    text-decoration: none;
}

.trend__image-wrapper {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
}

.trend__image-wrapper::after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;

    background-color: rgba(0, 0, 0, 0.6);
}

.trend__image {
    z-index: 0;

    width: 100%;
    object-fit: cover;
    object-position: center bottom;
}

.trend__content {
    position: relative;
    z-index: 3;

    box-sizing: border-box;
    padding: 22px 16px;

    color: white;
    border: 3px solid rgba(181, 159, 91, 0.6);
}

.trend__tags {
    display: flex;
    gap: 20px;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;


    color: #b59f5b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;

    list-style-type: none;
}

.trend__tag:hover {
    text-decoration: underline;
}

.trend__heading {
    position: relative;
    top: -6px;
    right: -2px;

    margin-block-start: 0;
    margin-block-end: 0;

    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.trend__heading:hover {
    color: #b59f5b;
}

/* posts */
.posts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 42px;
    /* width: 70.48%;
    min-width: 1170px;
    margin-left: auto;
    margin-right: auto; */
    padding-left: 14px;
    padding-right: 14px;
    box-sizing: border-box;
}

.posts__container {
    display: flex;
    flex-direction: column;
    /* width: 66.84%; */
    /* min-width: 782px; */
    gap: 31px;
}

.posts__item {
    display: flex;
    flex-direction: column;
}

.posts__item::after {
    content: "";
    display: block;
    margin-top: 10px;
    /* margin-right: 14px;
    margin-left: 14px; */
    height: 3px;
    background-color: #eeeeee;
}

.post__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.post__image {
    max-width: 381px;
    width: 100%;
}

.post__content {
    margin-top: 13px;
    /* margin-left: 14px;
    margin-right: 14px; */
}

.post__tags {
    position: relative;
    top: -2px;

    display: flex;
    gap: 18px;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;

    list-style-type: none;
    color: #b59f5b;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

.post__tag:hover {
    text-decoration: underline;
    cursor: pointer;
}

.post__heading {
    margin-top: 6px;
    margin-bottom: 6px;

    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;

    cursor: pointer;
}

.post__heading:hover {
    color: #b59f5b;
}

.post__date {
    position: relative;
    right: 1px;

    margin-right: 8px;

    font-size: 12px;
    line-height: 40px;
    color: #888888;
    font-weight: normal;
}

.post__author {
    font-size: 12px;
    line-height: 40px;
    color: #000000;
    font-weight: bold;
}

.post__text {
    margin-top: -8px;

    font-size: 14px;
    line-height: 20px;
    color: #0f0d0e;
    font-weight: normal;
}

.post__text p {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .sidebar {
    width: 271px;
} */

.new-posts__title {
    position: relative;
    left: 3px;

    margin-top: 45px;
    margin-bottom: 0;

    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 16px;
    line-height: 9px;
    font-weight: bold;
    text-align: center;
}


.new-posts__title::after {
    content: "";

    display: block;
    margin: 15px auto 0 auto;
    width: 66px;
    height: 3px;

    opacity: 0.400;
    background-color: #b59f5b;
}

.new-posts__container {
    display: flex;
    flex-direction: column;
    gap: 21px;
    margin-top: 28px;
    /* margin-left: 14px;
    margin-right: 14px; */
}

.new-posts__item {
    display: flex;
    height: 70px;
}

.new-post__image-wrapper {
    width: 70px;
    height: 70px;
}

.new-post__content {
    margin-left: 19px;
}

.new-post__date {
    position: relative;
    bottom: 7px;

    font-size: 12px;
    font-weight: normal;

    opacity: 0.541;
}

.new-post__heading {
    position: relative;
    bottom: 6px;

    margin-top: 0;
    margin-bottom: 0;

    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}

.search {
    margin-top: 63px;
    width: 100%;
    height: 49px;
}

.search__form {
    display: flex;
}

.search__input {
    width: calc(100% - 49px);
    height: 49px;
    padding: 18px;
    box-sizing: border-box;

    font-size: 13px;
    line-height: 40px;
    font-weight: normal;

    background-color: #f4f7f6;
    border: none;
    outline: none;
}

.search__input:active, .search__input:focus {
    box-sizing: border-box;

    border: 1px solid #b59f5b;
}

.search__submit {
    position: relative;

    width: 49px;
    height: 49px;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #b59f5b;
    border: none;
    outline: none;

    cursor: pointer;
}

.search__submit:hover {
    background-color: #323232;
}

.search__submit::after {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;
    width: 18px;
    height: 18px;

    background-image: url(../svg/search.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.newsletter__title {
    position: relative;
    right: 1px;

    margin-top: 45px;
    margin-bottom: 0;

    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 16px;
    line-height: 9px;
    font-weight: bold;
    text-align: center;
}


.newsletter__title::after {
    content: "";

    display: block;
    margin: 15px auto 0 auto;
    width: 66px;
    height: 3px;

    opacity: 0.400;
    background-color: #b59f5b;
}

.newsletter__form {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
}

.newsletter__input {
    width: 100%;
    height: 49px;
    padding: 18px;
    box-sizing: border-box;

    font-size: 13px;
    line-height: 40px;
    font-weight: normal;

    background-color: #f4f7f6;
    border: none;
    outline: none;
}

.newsletter__input:active, .newsletter__input:focus {
    box-sizing: border-box;

    border: 1px solid #b59f5b;
}

.newsletter__submit {
    position: relative;

    margin-top: 17px;
    width: 100%;
    height: 49px;

    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #b59f5b;
    border: none;
    outline: none;

    cursor: pointer;
}

.newsletter__submit:hover {
    background-color: #323232;
}

.tags__title {
    margin-top: 47px;
    margin-bottom: 0;

    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 16px;
    line-height: 9px;
    font-weight: bold;
    text-align: center;
}


.tags__title::after {
    content: "";

    display: block;
    margin: 15px auto 0 auto;
    width: 66px;
    height: 3px;

    opacity: 0.400;
    background-color: #b59f5b;
}

.tags__container {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px 10px;
    width: 100%;
    padding: 0;

    list-style-type: none;
}

.tags__item {
    --flang-padding: 12px;
    padding-left: var(--flang-padding);
    padding-right: var(--flang-padding);
    height: 30px;
    box-sizing: border-box;

    font-size: 12px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
    text-align: center;
    line-height: 24px;

    background-color: rgba(244,243,241,0);
    border: 3px solid #eeeeee;

    cursor: pointer;
}

.tags__item:hover {
    border-color: #b59f5b;
}

.themes__title {
    margin-top: -7px;
    margin-bottom: 0;

    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 16px;
    line-height: 9px;
    font-weight: bold;
    text-align: center;
}


.themes__title::after {
    content: "";

    display: block;
    margin: 15px auto 0 auto;
    width: 66px;
    height: 3px;

    opacity: 0.400;
    background-color: #b59f5b;
}

.themes__container {
    display: flex;
    flex-direction: column;
    gap: 11px;
    padding: 0;
    margin-top: 19px;

    list-style-type: none;
}

.themes__item {
    cursor: pointer;
}

.themes__item:hover .theme__name {
    color: #b59f5b;
}

.themes__item::after {
    content: "";

    display: block;
    width: 100%;
    height: 1px;
    margin-top: 11px;

    background-color: #eeeeee;
}

.theme__name {
    font-size: 14px;
    font-weight: bold;
}

.theme__quantity {
    vertical-align: super;

    margin-left: 3px;

    font-size: 12px;
    color: #b59f5b;
    font-weight: bold;
}

/* goods */
.goods__title {
    margin-top: 32px;
    margin-bottom: 0;

    text-transform: uppercase;
    color: #0f0d0e;
    font-size: 16px;
    line-height: 9px;
    font-weight: bold;
    text-align: center;
}

.goods__title::after {
    content: "";

    display: block;
    margin: 15px auto 0 auto;
    width: 66px;
    height: 3px;

    opacity: 0.400;
    background-color: #b59f5b;
}

.goods__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: -3px auto;
    /* width: 1170px; */
    /* min-width: 1170px; */
    box-sizing: border-box;
    padding: 0 14px;
    width: 100%;
}

.goods__item {
    display: flex; 
    flex-direction: column; 
}

.goods__item:nth-child(n+2) {
    margin-top: -12px;
}

.good__image-wrapper {
    position: relative;
    top: 32px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.good__image-wrapper img {
    width: 86.14%;
    max-width: 301px;
}

.good__content {
    display: flex; 
    flex-grow: 1; 
    max-width: 348px;
    flex-direction: column;
    padding: 28px 19px;
    box-sizing: border-box;

    border: 3px solid #b59f5b;
}

.good__heading {
    margin-bottom: 0;

    font-size: 17px;
    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
}

.good__description {
    position: relative;
    top: 1px;

    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
    font-weight: normal;
}

.good__link {
    text-decoration: none;

    color: #b59f5b;
}

.good__link:hover {
    text-decoration: underline;
}

.good__purchase {
    margin-top: 27px;
    display: flex;
    justify-content: space-between;
}

.good__price {
    display: flex;
    flex-direction: column;
    justify-content: end;

    text-transform: uppercase;
    color: #0f0d0e;
    font-weight: bold;
}

.old-price {
    font-size: 14px;
    text-decoration: line-through;
}

.actual-price {
    position: relative;
    bottom: 5px;

    font-size: 20px;
}

.good__button {
    position: relative;
    right: 3px;
    bottom: 3px;

    --flang-padding: 31px;
    padding-left: var(--flang-padding);
    padding-right: var(--flang-padding);
    height: 49px;

    text-transform: uppercase;
    font-weight: bold;
    color: #fff;

    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    background-color: #b59f5b;

    cursor: pointer;
}

.good__button:hover {
    background-color: #323232;
}

/* footer */
.footer {
    padding: 0 14px;
    margin-top: 43px;
}

.social-media {
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #f4f7f6;
}

.social-media__container {
    position: relative;
    right: 18px;
    top: 2px;

    display: flex;
    gap: 27px;

    list-style-type: none;
}

.social-media__svg {
    height: 20px;
    width: 20px;

    cursor: pointer;
}

.copyright-info {
    position: relative;
    left: 5px;

    margin-top: 46px;

    text-align: center;
    font-size: 12px;
    color: #999999;
    font-weight: bold;
}

@media (max-width: 330px) {
    .header__slogan { 
        display: none;  /* уже ломает сайт на таких малых экранах */
    }
}